<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= "#{@team_name}" %></h1>
    <h2><%= "Team Motto: #{@team_motto}" %></h2>
    <h2><%= "Hero Name: #{@name1}" %></h2>
    <p><%= "Hero Power: #{@power1}" %></p>
    <p><%= "Hero Biography: #{@bio1}" %></p>
    <h2><%= "Hero Name: #{@name2}" %></h2>
    <p><%= "Hero Power: #{@power2}" %></p>
    <p><%= "Hero Biography: #{@bio2}" %></p>
    <h2><%= "Hero Name: #{@name3}" %></h2>
    <p><%= "Hero Power: #{@power3}" %></p>
    <p><%= "Hero Biography: #{@bio3}" %></p>
  </body>
</html>
